<%= render :partial=>"codemirror" %>

<%= form_for([:admin, @template]) do |f| %>
  <%= render :partial=>"/admin/shared/form_errors", :locals=>{:f=>f} %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :readonly=>(!@template.is_deletable?), :disabled=>(!@template.is_deletable?) %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
