<%= render :partial=>"codemirror" %>

<%= form_for([:admin, @template]) do |f| %>
  <%= render :partial=>"/admin/shared/form_errors", :locals=>{:f=>f} %>

  <div class="group">
    <%= f.label :name, t("activerecord.attributes.template.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :readonly=>(!@template.is_deletable?), :disabled=>(!@template.is_deletable?), :class=>"text_field" %>
  </div>
  <div class="group">
    <%= f.label :name, t("activerecord.attributes.template.content", :default => "Content"), :class => :label %>
    <%= f.text_area :content, :class=>"text_area" %>
  </div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + " " + t("web-app-theme.cancel", :default => "Cancel"), admin_sites_path, :class => "button" %>
</div>
<% end %>
