<h1>Listing templates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @templates.each do |template| %>
  <tr>
    <td><%= template.name %></td>
    <td><%= template.updated_at %></td>
    <td><%= link_to 'Show', [:admin, template] %></td>
    <td><%= link_to 'Edit', edit_admin_template_path(template) %></td>
    <td><%= link_to 'Destroy', [:admin, template], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template', new_admin_template_path %>
