<%= render :partial=>"codemirror" %>
<p>
  <b>Name:</b>
  <%= @template.name %>
</p>

<p>
  <b>Content:</b>
<textarea rows="10" id="template_content" readonly="true"><%= @template.content %></textarea>
</p>


<%= link_to 'Edit', edit_admin_template_path(@template) %> |
<%= link_to 'Back', admin_templates_path %>
