<%= form_for [:admin, @page], :html => { :class => :form, :multipart=>true } do |f| -%>
  <%= f.hidden_field :page_type_id %>
  <%= f.hidden_field :show_on_lists %>
  <div class="group">
    <%= f.label :title, t("activerecord.attributes.page.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>
    <span class="description"><%= t('forms.pages.field_descriptions.title')%></span>
  </div>

  <% if @page.page_type.blank? or @page.page_type.show_content? %>
  <div class="group">
    <%= f.label :content, t("activerecord.attributes.page.content", :default => "Content"), :class => :label %>
    <%= f.tinymce_managed :content, :class=>"text_area" %>
    <span class="description"><%= t('forms.pages.field_descriptions.content')%></span>
  </div>
  <% end %>

  <div class="group">
    <%= f.label :slug, t("activerecord.attributes.page.slug", :default => "Slug"), :class => :label %>
    <%= f.text_field :slug, :class => 'text_field' %>
    <span class="description"><%= t('forms.pages.field_descriptions.slug')%></span>
  </div>
  
  <div class="group">
    <%= f.label :parent_id, t("activerecord.attributes.page.parent_id", :default => "Parent"), :class => :label %>
    <%= f.select :parent_id, pages_for_parent_select(f.object), :class => 'text_field' %>
    <span class="description"><%= t('forms.pages.field_descriptions.parent')%></span>
  </div>


  <div class="group" id="propertys_fields">
    <%= f.fields_for :properties do |fp| %>
      <%= render :partial=>"property", :locals=>{:f=>fp} %>
    <% end %>
  </div>
  
  <fieldset>
    <legend>Opcje zaawansowane</legend>
      
    <div class="group">
      <%= f.label :template_id, t("activerecord.attributes.page.template_id", :default => "Template"), :class => :label %>
      <%= f.select :template_id, [[]] | current_site.templates.all.map{|t| [t.name, t.id]}, :class => 'text_field' %>
      <span class="description"><%= t('forms.pages.field_descriptions.template')%></span>
    </div>
  
    <div class="group">
      <%= f.label :show_in_menu, t("activerecord.attributes.page.show_in_menu", :default => "Show in menu?"), :class => :label %>
      <%= f.check_box :show_in_menu %>
      <span class="description"><%= t('forms.pages.field_descriptions.show_in_menu')%></span>
    </div>
    
    <div class="group">
      <%= f.label :privacy_level, t("activerecord.attributes.page.privacy_level", :default => "Privacy level"), :class => :label %>
      <% opts = Page::PRIVACY_LEVELS; opts.delete(:private) %>
      <%= f.select :privacy_level, opts, :class => 'text_field' %>
      <span class="description"><%= t('forms.pages.field_descriptions.privacy_level')%></span>
    </div>
    
  </fieldset>
        
  <div class="group navform wat-cf">
    <button class="button" type="submit">
        <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
    </button>
    <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + " " + t("web-app-theme.cancel", :default => "Cancel"), @page.page_type.blank? ? admin_pages_path : list_type_admin_page_type_path(@page.page_type_id), :class => "button" %>
  </div>
<% end %>
