<div class="content">          
  <h2 class="title"><%= t(".all", :default => "All pages")  %> <%= "(#{@page_type.name})" unless @page_type.blank? %></h2>
  <div class="inner">
    <table class="table">
      <tr>             
        <th class="first">ID</th>
        <th>
          <%= t("activerecord.attributes.page.title", :default => t("activerecord.labels.title", :default => "Title")) %>
        </th>
        <th>
          <%= t("activerecord.attributes.page.parent_id", :default => t("activerecord.labels.parent_id", :default => "Parent")) %>
        </th>
        <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
        <th class="last">&nbsp;</th>
      </tr>
      <% @pages.each do |page| -%>
      <tr class="<%= cycle("odd", "even") %>">
        <td>
          <%= page.id %>
        </td>
        <td>
          <%= link_to page.title, admin_page_path(page) %>
        </td>
        <td>
          <%= page.parent.title unless page.parent.blank? %>
        </td>
                  <td>
          <%= page.created_at %>
        </td>
        <td class="last">
          <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_page_path(page) %> |
          <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_page_path(page) %> |
          <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_page_path(page), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        </td>
      </tr>          
      <% end -%>
    </table>
    <div class="actions-bar wat-cf">
      <div class="actions">
      </div>
      
    </div>
  </div>
</div>