<%= form_for([:admin, @page_type], :html=>{:class=>:form}) do |f| %>
  <% content_for :head do %>
    <script type="text/javascript">
      $(document).ready(function(){
        nested_forms['property_type'] = "<%= generate_template(f, :property_types) %>";
      });
    </script>
  <% end %>

  <div class="group">
    <%= f.label :name, t("activerecord.attributes.page_type.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>
    <span class="description"><%= t('forms.page_types.field_descriptions.name')%></span>
  </div>

  <div class="group">
    <%= f.label :slug, t("activerecord.attributes.page_type.slug", :default => "Slug"), :class => :label %>
    <%= f.text_field :slug, :class => 'text_field' %>
    <span class="description"><%= t('forms.page_types.field_descriptions.slug')%></span>
  </div>
  
  <div class="group">
    <%= f.label :show_content, t("activerecord.attributes.page_type.show_content", :default => "Show content?"), :class => :label %>
    <%= f.check_box :show_content %>
    <span class="description"><%= t('forms.page_types.field_descriptions.show_content')%></span>
  </div>
  
  <div class="group">
    <%= f.label :show_in_menu, t("activerecord.attributes.page_type.show_in_menu", :default => "Show in menu?"), :class => :label %>
    <%= f.check_box :show_in_menu %>
    <span class="description"><%= t('forms.page_types.field_descriptions.show_in_menu')%></span>
  </div>
  
  <div class="group">
    <%= f.label :show_on_lists, t("activerecord.attributes.page_type.show_on_lists", :default => "Show in menu?"), :class => :label %>
    <%= f.check_box :show_on_lists %>
    <span class="description"><%= t('forms.page_types.field_descriptions.show_on_lists')%></span>
  </div>
  
  <ol id="property_types_fields">
    <%= f.fields_for :property_types do |fpt| %>
      <%= render :partial=>"property_type", :locals=>{:f=>fpt}%>
    <% end %>
  </ol>
  <%= link_to 'Add', '#property_type', :class => "add_nested_item", :rel => "property_type" %><br />
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}") + " " + t("web-app-theme.cancel", :default => "Cancel"), admin_page_types_path, :class => "button" %> 
</div>

<% end %>