<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_menu_items_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_menu_item_path %></li>
      <li><%= link_to "#{t("web-app-theme.reorder", :default=>"Reorder")}", reorder_admin_menu_items_path %></li>

    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> MenuItems</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.menu_item.name", :default => t("activerecord.labels.name", :default => "Name")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @menu_items.each do |menu_item| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= menu_item.id %>
          </td>
                    <td>
            <%= link_to menu_item.name, admin_menu_item_path(menu_item) %>
          </td>
                    <td>
            <%= menu_item.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_menu_item_path(menu_item) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_menu_item_path(menu_item) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_menu_item_path(menu_item), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
